body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Tahoma, Serif;
}


.swiper-container {
    width: 100%;
}

.swiper-slide {
    background-size: cover;
    background-position: 50%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.books {
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:10%;
    margin-right:10%;
    margin-top: 5%;
    color:green;

}
.books #book {

    width: 200px;
    height: 280px;
    color:black;
    text-decoration: none;
    border: 1px solid black;
    font-family: Verdana, Arial, Tahoma, Serif;
    text-align: center;
    margin: 10px;

}
.books #book .book .bookimage, bookimage {
   width: 200px;
  height: 280px;

}

.books #book .book h1 {
        margin-top: 2px;
       inline-size: 170px;
        white-space:nowrap;
        overflow: hidden;
        padding-top: 5px;
        font-size: 16px;
        margin-left: 5px;
        margin-right: 5px;
        text-overflow: ellipsis;

}

.books #book .book p {
    margin-top: 2px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        overflow: hidden;
        inline-size: 170px;
}


/*New Book*/

#newbook{
    font-family: Verdana, Arial, Tahoma, Serif;
}

#newbook form {
        width: 60%;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        background-color: #3a3a3a8a;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 10px;
}

#newbook form input {
        margin: 10px;
       width: 50%;
       border: none;
       border-radius: 5px;
       background-color: #f2f2f2;
       padding: 20px;
}

#newbook form input[type=text], #newbook form input[type=number], select, textarea  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#newbook form input[type=checkbox]  {
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#newbook form input[type=submit] {
    width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

#newbook form input[type=submit]:hover {
     background-color: rgb(3, 102, 3);
}

