<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library | Add book</title>
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="@{/assets/img/favicon.ico}">
</head>

<body class="">
  <section id="newbook">
    <form action="#" th:action="@{/addbook}" th:object="${bookDto}" method="post" enctype="multipart/form-data" autocomplete="off" id="form">
      <div>
        <input id="isbn" type="text" th:field="*{isbn}" placeholder="isbn" class="form-control"  required />
      </div>
    </form>
  </section>
</body>

</html>