<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>UCBC Library Catalog</title>
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendor/select2/select2.min.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">
    <style>
        #baner1{
           background: rgba(180, 180, 180, 0.507);
           display: flex;
           justify-content: center;
        }
        #baner1 div img{
           width: 200px;
        }
        #baner1 div h1{
            margin-left: 5%;
            font-weight: 700;
            text-align: left;
           width: 80%;
           color: rgba(0, 0, 0, 0.74);
           font-size: 2em;
           text-shadow: 0 2px 2px rgba(245, 225, 209, 0.596);
        }
        #baner1 div h1 span{
            float: right;
            margin-right: 5%;
        }
      
            
  
    </style>
</head>
<body class="flex flex-col w-full">

    <!-- Header -->
    <header class="flex flex-col sticky top-0 z-30 bg-white shadow-md">
        <div class="flex flex-row justify-between mx-10 py-3 ">
           
            <div class="flex flex-row gap-3">
                <img class="logo h-16 w-12" alt="logo" th:src="@{/assets/img/logo-1.png}">
                <div class="flex flex-col justify-center">
                    <p class="text-3xl text-yellow-700 font-serif text-center font-bold text-justify">UCBC LIBRARY</p>
                    <span class="text-black text-sm font-light">Read to be transformed</span>
                </div>
            </div>

            <div class="flex flex-row py-2 items-center">
                
                <button class="hidden bg-slate-50  text-lg text-yellow-600 px-6 py-2 shadow-md hover:scale-105 transition-all">
                    <span>Sign in</span>
                </button>

                <div class="flex flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-yellow-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg> 
                    <svg id="menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 w-8 h-8 text-yellow-600 cursor-pointer hover:scale-110 transition-all">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                    </svg>

                    <div id="dropdownDots" class="z-10 absolute hidden bg-white right-2 top-16 divide-y divide-gray-100 rounded-lg shadow-lg w-44">
                        <ul class="py-2 text-md text-yellow-600" aria-labelledby="dropdownMenuIconButton">
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 " onclick="sectionNavigation('dashbord')">Dashboard</a>
                          </li>
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 " id="settings">Settings</a>
                          </li>
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 " id="logout">Logout</a>
                          </li>
                        </ul>
                    </div>
                </div>                     
            </div>
        </div>

        <!-- Bookcases -->
        <div id="bookCasesBar" class="bookcases flex flex-row justify-between px-5 font-ligth  gap-2 bg-gray-900 text-yellow-600 py-2">
            <a href="#" id="bookcase1" class="p-3 w-40 truncate">Computer science, information & general works
                <div id="bookcaseover1" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>Computer science, information & general works</a>
                </div>
            </a>
            <a href="#" class="p-3 w-40 truncate" id="bookcase2">Philosophy & psychology
                <div id="bookcaseover2" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center left-6">
                    <a>Philosophy & psychology</a>
                </div>
            </a>
                
            <a href="#" class="p-3 w-40 truncate" id="bookcase3">Religion
                <div id="bookcaseover3" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>Religion</a>
                </div>
            </a>
                
            <a href="#" class="p-3 w-40 truncate" id="bookcase4">Social sciences
                <div id="bookcaseover4" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>Social sciences</a>
                </div>
            </a>
                
            <a href="#" class="p-3 w-40 truncate" id="bookcase5">Language
                <div id="bookcaseover5" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>Language</a>
                </div>
            </a>
                
            <a href="#" class="p-3 w-40 truncate" id="bookcase6">Science
                <div id="bookcaseover6" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>Science</a>
                </div>
            </a>
                
            <a href="#" class="p-3 w-40 truncate" id="bookcase7">Technology
                <div id="bookcaseover7" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>Technology</a>
                </div>
            </a>
                
            <a href="#" class="p-3 w-40 truncate" id="bookcase8">Arts & recreation
                <div id="bookcaseover8" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>Arts & recreation</a>
                </div>
            </a>
                
            <a href="#" class="p-3 w-40 truncate" id="bookcase9">Literature
                <div id="bookcaseover9" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>Literature</a>
                </div>
            </a>
                
            <a href="#" class="p-3 w-40 truncate" id="bookcase10">History & geography
                <div id="bookcaseover10" class="hidden z-50 absolute p-3 w-40 font-ligth bg-gray-900 text-yellow-600 text-center -left-3">
                    <a>History & geography</a>
                </div>
            </a>
            
        </div>

        <!-- Search bar -->
        <div id="searchBar" class="search-bar flex flex-row justify-center p-4 h-full w-full">
            <div class="relative flex items-center h-10 w-96 rounded-3xl focus-within:shadow-md bg-white overflow-hidden border border-yellow-600">
                <div class="grid place-items-center h-full w-12 text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </div>
        
                <input
                class="peer h-full w-full outline-none text-md text-gray-700 pr-2" type="search" id="search" placeholder="Search..." /> 
            </div>
        </div>

        <!-- Dashboard header -->
        <div id="dashbordHeader" class="hidden flex flex-row justify-center bg-gray-900 px-5 font-ligth  gap-2 py-4">
            <button class="drop-shadow-md flex flex-row justify-center items-center gap-2 py-2 w-40 px-6 bg-teal-500 text-white rounded hover:bg-teal-700 mr-4" onclick="newBookModal()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                      
                <span>Add Book</span>
            </button>
            <button class="drop-shadow-md flex flex-row justify-center items-center gap-2 py-2 px-6 bg-slate-200 w-40 text-yellow-700 rounded hover:bg-slate-300 mr-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                  </svg>                      
                <span>Loan</span>
            </button>
            <button class="drop-shadow-md flex flex-row justify-center items-center gap-2 py-2 px-6 bg-yellow-50 w-40 text-yellow-700 rounded hover:bg-yellow-100 mr-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-down-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6.364 2.5a.5.5 0 0 1 .5-.5H13.5A1.5 1.5 0 0 1 15 3.5v10a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 2 13.5V6.864a.5.5 0 1 1 1 0V13.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-.5-.5H6.864a.5.5 0 0 1-.5-.5z"/>
                    <path fill-rule="evenodd" d="M11 10.5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1 0-1h3.793L1.146 1.854a.5.5 0 1 1 .708-.708L10 9.293V5.5a.5.5 0 0 1 1 0v5z"/>
                  </svg>                      
                <span>Refund</span>
            </button>                   
        </div>
        <!-- End dashboard header -->
    </header>

    <!-- End header -->

    <!-- Main section -->
    <section section id="home" class="section bg-white pb-8">
        
           <!-- Swiper -->
        <div class=" overflow-x-hidden w-full h-64 flex justify-center items-center">
            <div class="swiper-container w-full h-full relative z-0">

                <!-- swiper slides -->
            <div class="swiper-wrapper h-max relative">
                <div class="swiper-slide bg-gray-200 p-5 text-center baner" id="baner1">
                    <div>
                        <img class="cover" th:src="@{assets/img/booktree.png}">
                    </div>
                    <div>
                          <h1>
                            “Everyone is a reader... Some just haven't found their favourite book yet.”<br>
                            <span>― Anonymous</span>
                        </h1>
                    </div>
               
                            
                </div>
                
                <div class="swiper-slide bg-gray-100 p-5 text-center"> 
                    <h2>SIMPLE SWIPER 2</h2>
                </div>
                
                <div class="swiper-slide bg-gray-300 p-5 text-center">
                    <h2>SIMPLE SWIPER 3</h2>
                </div>
                
                <div class="swiper-slide bg-100 p-5 text-center">
                    <h2>SIMPLE SWIPER 4</h2>
                </div>
                
                <div class="swiper-slide bg-300 text-center p-5">
                    <h2>SIMPLE SWIPER 5</h2>
                </div>
            </div>
            <!-- End swiper slides -->

            <!-- pagination dots -->
            <div class="swiper-pagination" style="z-index: 20; color: rgba(134, 89, 6, 0.603);"></div>
            <!-- End pagination dots -->

              <div class="absolute inset-0 flex justify-center items-center z-10">
                <div class="flex flex-row justify-between w-full">
                    <div class="swiper-button-prev relative" style="color:rgba(130, 130, 4, 0.919)"></div>
                    <div class="swiper-button-next relative" style="color: rgba(130, 130, 4, 0.919);"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- End Swiper -->

        <div class="mx-5">
            <div class="pt-12 flex flex-col gap-4">
            
                <div class="flex flex-row justify-center gap-3"> 
                    <div class="w-96 h-4 border-b border-yellow-600"></div> 
                    <h2 class="text-center font-ligth text-2xl text-yellow-600">Popular books</h2> 
                    <div class="w-96 h-4 border-b border-yellow-600"></div>
                </div>
            
                <div class="overflow-x-hidden">
                    <div class="flex flex-row space-x-9 w-max p-8">
                        <div class="popularbook shadow-lg cursor-pointer hover:scale-110 transition-all" th:each="book : ${catalogs}">
                            <div class="book">
                                <img class="bookimage h-72 w-52" alt="Cover" th:src="@{${book.largeCoverUrl}}" th:data-isbn="${book.isbn}" onclick="showBookInfo(this.dataset.isbn)">
                            </div>
                        </div>
                    </div> 
                </div>   
                
            </div>
    
    
            <div class="flex flex-col gap-4 mt-10">
                <div class="flex flex-row justify-center gap-3"> 
                    <div class="w-96 h-4 border-b border-yellow-600"></div> 
                    <h2 class="text-center font-ligth text-2xl text-yellow-600">Recently added</h2> 
                    <div class="w-96 h-4 border-b border-yellow-600"></div>
                </div>
    
                <div class="overflow-x-hidden">
                    <div class="flex flex-row space-x-9 w-max p-8">
                        <div class="recently shadow-lg cursor-pointer hover:scale-110 transition-all"  th:each="book : ${popular}"  >
                            <div class="book" >
                                <img class="bookimage h-72 w-52" alt="Cover" th:data-isbn="${book.isbn}" th:src="@{${book.largeCoverUrl}}" onclick="showBookInfo(this.dataset.isbn)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>     
               
        
    </section>
    <!-- End Main section -->

    <!-- FINDBOOK SECION  -->
    <section id="findbook" class="section hidden flex flex-row justify-center p-5 mb-12">
        <div id="books" class="books grid grid-cols-4 justify-center">
           
        
        </div>
    </section>

    <section id="bookinfo" class="section m-10 px-14 flex flex-col space-y-3 hidden">
        <div class="flex flex-row w-full gap-4">
            <div class="drop-shadow-xl w-1/5">
                <img id="infoImage" class="cover h-80 w-72" th:src="@{assets/img/book.jpg}">
            </div>

            <div class="flex flex-col text-slate-700 w-4/5 gap-10">
                <div class="flex flex-col mx-12 space-y-2">
                    <p id="infoTitle" class="w-full text-4xl font-semibold"></p>
                    <p id="infoSubtitle"class="w-full text-xl font-light "></p>
                    <p id="infoAuthors"class="w-full text-lg font-bold"></p>
                    <p id="infoShortDescription"class="truncate text-md font-light"></p>
                </div>

                <div class="flex flex-row bg-gray-100 h-full px-8 justify-between shadow-lg">
                    <div class="flex flex-row space-x-3 items-center">

                        <div class="bg-yellow-500 p-2 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
                            </svg>
                        </div>
                        

                       <div class="flex flex-col ">
                        <p  class="text-xl font-bold">Print kind</p>                         
                        <span id="infoPrintKind" class="text-lg font-light"></span>
                       </div>
                    </div>

                    <div class="flex flex-row space-x-3 items-center">
                        
                        <div class="bg-yellow-500 p-2 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                            </svg>
                        </div>

                        <div class="flex flex-col ">
                        <p class="text-xl font-bold">Pages</p>

                         <span id="infoPages" class="text-lg font-light"></span>
                        </div>
                     </div>

                     <div class="flex flex-row space-x-3 items-center">
                        <div class="bg-yellow-500 p-2 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                            </svg>
                        </div>
                        
                        <div class="flex flex-col ">
                        <p class="text-xl font-bold">Publish date</p>                           
                         <span id="infoPublishedDate" class="text-lg font-light"></span>
                        </div>
                     </div>

                     <div class="flex flex-row space-x-3 items-center">

                        <div class="bg-yellow-500 p-2 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                            </svg>
                        </div>
                        
                        <div class="flex flex-col">
                        <p class="text-xl font-bold">Publisher</p>                            
                         <span id="infoPublisher" class="text-lg font-light"></span>
                        </div>
                     </div>
                </div>
            </div>
        </div>

        <!-- BOOK FULL DESCRIPTION -->
        <div class="flex flex-col space-y-10 pt-8">
            <div class="flex flex-col space-y-4">
                <p  class="text-2xl font-bold">Description</p>
                <hr>
                <p id="infoDescription" class="text-slate-700 text-lg font-light  tracking-wide [word-spacing:3px]"></p>
            </div>
            <div id="infoAuthorsDetails"></div>

            <div class="flex flex-col gap-4 pt-5">
                <div class="flex flex-row space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-16 h-10 font-bold text-yellow-600">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg>                      
                    <p class="text-gray-700 text-3xl font-extralight">Suggested Readings</p>
                </div>

                <div class="overflow-x-hidden">
                    <div class="flex flex-row space-x-9 w-max p-8">
                        <div class="popularbook shadow-lg cursor-pointer hover:scale-110 transition-all">
                            <div class="book">
                                <img class="bookimage h-72 w-52" alt="Cover" th:src="@{assets/img/book.jpg}">
                            </div>
                        </div>
        
                        <div class="popularbook shadow-lg cursor-pointer hover:scale-110 transition-all">
                            <div class="book">
                                <img class="bookimage h-72 w-52" alt="Cover" th:src="@{assets/img/book.jpg}">
                            </div>
                        </div>
        
                        <div class="popularbook shadow-lg cursor-pointer hover:scale-110 transition-all">
                            <div class="book">
                                <img class="bookimage h-72 w-52" alt="Cover" th:src="@{assets/img/book.jpg}">
                            </div>
                        </div>
        
                        <div class="popularbook shadow-lg cursor-pointer hover:scale-110 transition-all" onclick="showBookInfo()">
                            <div class="book">
                                <img class="bookimage h-72 w-52" alt="Cover" th:src="@{assets/img/book.jpg}">
                            </div>
                        </div>
                    </div>
                </div>
       
            </div>
        </div>
        

    </section>

    <!-- ADD BOOK SECTION -->
    <section id="newbook" class="">
        <!-- PART 1 -->

        <div class="fixed z-10 overflow-y-auto top-0 w-full left-0 transition-all hidden" style="z-index: 30;" id="modal">

            <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                
                <div class="fixed inset-0 transition-opacity">
                    <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
                </div>

              <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>

                <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                    <form action="#"  th:object="${bookDto}" enctype="multipart/form-data" autocomplete="off" id="form">
                        <p class="bg-gray-200 text-gray-600 text-2xl font-bold text-center py-3 px-4">New book</p>
                        <!-- PART ONE -->
                        <div id="newbookInfo1" class="hidden px-4 pt-5  sm:p-6 sm:pb-2">
                            <input id="isbn" type="number" min="1000000000" max="9999999999999"  placeholder="Isbn"  required class="w-full border-b border-yellow-200 p-2 mt-2 mb-3 placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" />
                            <input id="title" type="text"  placeholder="Title"  required  class="w-full border-b border-yellow-200 p-2 mt-2 mb-3 placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" />
                            <input id="subtitle" type="text"  placeholder="Subtitle (optional)"  required  class="w-full border-b border-yellow-200 p-2 mt-2 mb-3 placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" />
                        </div>
                        <!-- END PART ONE -->

                        <!-- PART TWO -->
                        <div id="newbookInfo2" class="hidden px-4 pt-5 space-y-2 sm:p-6 sm:pb-2">
                            <label for="description" class="text-gray-600 text-lg">Full description</label>
                            <textarea name="" id="description" type="text" th:field="*{description}" placeholder="Write here the full description of the book" rows="6" required class="w-full bg-gray-100 p-4 mt-2 text-lg text-gray-600 mb-3 focus:outline-none border-b border-yellow-200 hover:scale-95 transition-all"></textarea>                   
                            <div class="flex flex-col justify-start">
                                <label for="language" class="text-gray-600 text-lg">Select language</label>
                                <select id="language"  class="w-full text-left border-b border-yellow-200 p-2 mt-2 bg-white placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" required >
                                    <option value="ENGLISH">English</option>
                                    <option value="FRANÇAIS">French</option>
                                </select>
                            </div>
                        </div>
                        <!-- END PART TWO -->

                        <!-- PART THREE -->
                        <div id="newbookInfo3" class="hidden px-4 pt-5 space-y-4 sm:p-6 sm:pb-2 flex flex-col">
                            
                            <div class="w-full flex flex-row space-x-3 justify-between items-center">
                                <div class="w-3/5">
                                    <label for="authors">Authors</label>
                                    <select id="authors"  name="authors[]" placeholder="Author(s)" required multiple  style="width: 100%;">
                                       
                                    </select>
                                </div>
                                <div class="w-2/5 flex flex-row items-center text-teal-500 cursor-pointer mt-4" onclick="newAuthorModal()">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>                                      
                                    <span>Add author</span>
                                </div>
                            </div>

                            <div class="w-full flex flex-row space-x-3 justify-between items-center">
                                <div class="w-3/5">
                                    <label for="publisher">Publisher</label>
                                    <select id="publisher" th:field="*{publisher}"  required style="width: 100%;">
                            
                                    </select>
                                </div>
                                <div class="w-2/5 flex flex-row items-center text-teal-500" onclick="newPublisherModal()">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>                                      
                                    <span>Add publisher</span>
                                </div>
                            </div>

                            <input id="publishedDate" type="text" th:field="*{publishedDate}" placeholder="publishedDate" required  class="w-full text-left border-b border-yellow-200 p-2 mt-2 bg-white placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" />

                        </div>
                        <!-- END PART THREE -->

                        <!-- PART FOUR -->
                        <div id="newbookInfo4" class="hidden px-4 pt-5  sm:p-6 sm:pb-2 flex flex-col">
                            <div class="flex flex-row space-x-3 p-2 mt-2">
                                <label for="pageCount" class="text-gray-600 text-lg p-2">Page count</label>
                                <input id="pageCount" type="number" min="10" value="10" th:field="*{pageCount}" placeholder="Page count"  required class="p-2 text-left border-b border-yellow-200 bg-white placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" />
                            </div>

                            <select id="kind"  class="w-full text-left border-b border-yellow-200 p-2 mt-2 bg-white placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" required >
                                <option value="HARDCOVER">HardCover</option>
                                <option value="BOOK">Book</option>
                            </select>

                            <div class="w-full flex flex-row space-x-3 p-2 mt-2">
                                <label for="branch" class="text-gray-600 p-2">Branch</label>
                                <select id="branch" placeholder="Branch" class="text-left p-2 border-b border-yellow-200 bg-white placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" style="width: 100%;" required>
                                 
                                </select>
                            </div>

                            <div class="flex flex-row space-x-4 text-lg text-gray-600 m-4">
                                <div class="space-x-2">
                                    <input id="isReference" type="checkbox" class="border border-yellow-200 bg-white outline-none focus:outline-none hover:scale-95 transition-all" />
                                    <label for="isReference">Reference</label>
                                </div>
                                <div>
                                    <input id="pdfAvailable" type="checkbox"/>
                                    <label for="pdfAvailable">Pdf</label>
                                </div>
                                <div>
                                    <input id="epubAvailable" type="checkbox" />
                                    <label for="epubAvailable">Epub</label>
                                </div>
                            
                            </div>

                        </div>
                        <!-- END PART FOUR -->

                        <!-- PART FIVE -->
                        <div  id="newbookInfo5" class="hidden w-full">
                            <div class="px-4 pt-5  sm:p-6 sm:pb-2">
                                <img id="book-image-preview"
                                    src=""
                                    class="w-52 mx-auto hidden" alt="placeholder"
                                    >
                            </div>
                             
                             <div class="bg-white px-4 pt-5 flex flex-row justify-center sm:p-6 sm:pb-2">
                                <label for="cover">Cover</label>
                                <input id="cover" class="p-2" type="file" accept="image/*" th:field="*{cover}" onchange="updatePreview(this, 'book-image-preview')" required>
                            </div>
                        </div>
                        <!-- END PART FIVE -->

                        <!-- Data validation message block -->
                        <div class="w-full">
                            <p id="errmsg" class="bg-yellow-600 p-2 mx-5 text-center text-lg text-white hidden"></p>
                            <p id="succmsg" class="bg-teal-600 p-2 mx-5 text-center text-lg text-white hidden">The book has been added successfully !</p>
                        </div>
                        <!-- End Data validation message block -->


                        <!-- Previous - Next buttons -->
                        <div id="previousNextBox" class="flex justify-end px-4 py-3">
                            <div onclick="previous()" id="previous" class="hidden py-2 px-4 flex flex-row items-center cursor-pointer hover:scale-105 transition-all">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                                </svg>
                                <span class="text-lg font-light text-yellow-600">Previous</span>
                            </div>

                            <div onclick="next()" id="next" class="py-2 px-4 flex flex-row items-center cursor-pointer hover:scale-105 transition-all">
                                <span class="text-lg font-light text-yellow-600">Next</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </div>
                        </div>

                        <div class="bg-gray-200 px-4 py-3 text-right">
                            <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="newBookModal();clearAddBookForm()">Cancel</button>
                            <button type="button" id="submitbook" class="hidden py-2 px-4 bg-teal-500 text-white rounded hover:bg-teal-700 mr-2" 
                            onclick="
                                if(document.getElementById('cover').value!=''){
                                    addNewBook()
                                }else{
                                    errmsg.innerText = 'Please upload the book cover.'
                                    errmsg.classList.remove('hidden')
                                    setTimeout(() => {
                                        errmsg.classList.add('hidden')   
                                    },2000); 
                                }
                            ">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="fixed z-10 overflow-y-auto top-0 w-full left-0 transition-all hidden" style="z-index: 40;" id="authormodal">

            <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                
                <div class="fixed inset-0 transition-opacity">
                    <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
                </div>

              <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>

                <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                    <form action="#"  th:object="${bookDto}" enctype="multipart/form-data" autocomplete="off" id="form">
                        <p class="bg-gray-200 text-gray-600 text-2xl font-bold text-center py-3 px-4">New author</p>
                        <!-- PART ONE -->
                        <div id="" class="px-4 pt-5  sm:p-6 sm:pb-2">
                            <input id="newAuthorName" type="text" th:field="*{isbn}" placeholder="Name of the author"  required class="w-full border-b border-yellow-200 p-2 mt-2 mb-3 placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" />
                            <textarea name="" id="newAuthorDescription" type="text" th:field="*{description}" placeholder="About the author" rows="6" required class="w-full bg-gray-100 p-4 mt-2 text-lg text-gray-600 mb-3 focus:outline-none border-b border-yellow-200 hover:scale-95 transition-all"></textarea> 
                        </div>
                        <!-- END PART ONE -->
                        
                        <!-- Data validation message block -->
                        <div class="w-full">
                            <p id="errmsgAu" class="bg-yellow-600 p-2 mx-5 text-center text-lg text-white hidden"></p>
                            <p id="succmsgAu" class="bg-teal-600 p-2 mx-5 text-center text-lg text-white hidden">New author added successfully !</p>
                        </div>
                        <!-- End Data validation message block -->

                        <div class="bg-gray-200 px-4 py-3 text-right">
                            <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="newAuthorModal()"></i> Cancel</button>
                            <button type="button" id="submitbook" class="py-2 px-4 bg-teal-500 text-white rounded hover:bg-teal-700 mr-2" onclick="addNewAuthor()">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="fixed z-10 overflow-y-auto top-0 w-full left-0 transition-all hidden" style="z-index: 40;" id="publishermodal">

            <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                
                <div class="fixed inset-0 transition-opacity">
                    <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
                </div>

              <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>

                <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                    <form action="#"  th:object="${bookDto}" enctype="multipart/form-data" autocomplete="off" id="form">
                        <p class="bg-gray-200 text-gray-600 text-2xl font-bold text-center py-3 px-4">New publisher</p>
                        
                        <div id="" class="px-4 pt-5  sm:p-6 sm:pb-2">
                            <input id="newPublisherName" type="text"  placeholder="Name of the publisher"  required class="w-full border-b border-yellow-200 p-2 mt-2 mb-3 placeholder-gray-600 text-gray-600 text-lg outline-none focus:outline-none hover:scale-95 transition-all" />
                        </div>

                        <!-- Data validation message block -->
                        <div class="w-full">
                            <p id="errmsgPub" class="bg-yellow-600 p-2 mx-5 text-center text-lg text-white hidden"></p>
                            <p id="succmsgPub" class="bg-teal-600 p-2 mx-5 text-center text-lg text-white hidden">New publisher added successfully !</p>
                        </div>
                        <!-- End Data validation message block -->

                        <div class="bg-gray-200 px-4 py-3 text-right">
                            <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700 mr-2" onclick="newPublisherModal()"></i> Cancel</button>
                            <button type="button" id="submitbook" class="py-2 px-4 bg-teal-500 text-white rounded hover:bg-teal-700 mr-2" onclick="addNewPublisher()">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
          
    </section>

    <section id="dashbord" class="flex flex-row bg-gray-100 hidden p-8 gap-8">
        <!-- General info cards-->
        <div class="w-3/5 flex flex-col gap-8">

            <div class="bookcasestat grid grid-cols-2 gap-8 text-yellow-700"> 

                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white space-y-3 items-center flex flex-col text-center">
                    <p class="">Computer science, information & general works</p>
                    <div class="flex flex-row space-x-4">
                        <div class="bg-white p-2 items-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-yellow-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                            </svg>
                        </div>
                        <strong class="text-4xl font-bold">129</strong>
                    </div>
                </div>
                
                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white">
                    <p>Philosophy & psychology </p>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16">
                        <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                    </svg>
                    <p>14</p>
                </div>

                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white">
                    <p>Religion</p> 
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-2-circle" viewBox="0 0 16 16">
                        <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
                    </svg>
                    <p>14</p>
                </div>
                
                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white">
                    <p>Social sciences</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-3-circle" viewBox="0 0 16 16">
                        <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                    </svg>
                    <p>14</p>
                </div>

                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white">
                    
                        <p>Language</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-4-circle" viewBox="0 0 16 16">
                            <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                        </svg>
                        <p>14</p>
                        

                </div>

                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white">
                    <p>Science</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-5-circle" viewBox="0 0 16 16">
                        <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                    </svg>
                    <p>14</p>
                </div>
                
                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white">
                    <p>Technology</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-6-circle" viewBox="0 0 16 16">
                        <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                    </svg>
                    <p>14</p>
                </div>   
                    
                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white">
                    <p>Arts & recreation </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-7-circle" viewBox="0 0 16 16">
                        <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                    </svg>
                    <p>14</p>
                </div>  
                    
                <div class="w-full h-36 rounded-md drop-shadow-lg  p-3 bg-white">
                    <p> Literature </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-8-circle" viewBox="0 0 16 16">
                        <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                    </svg>
                    <p>14</p>
                </div>   
                
                <div class="w-full h-36 rounded-md drop-shadow-lg   p-3 bg-white">
                    <p> History & geography</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-9-circle" viewBox="0 0 16 16">
                        <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
                    </svg>
                    <p>14</p>
                </div>
                    


            </div>

            <div class="librarianstat bg-white rounded-md drop-shadow-lg">
                <div>
                    <p>Loaned</p>
                    <p>10</p>
                </div>

                <div>
                    <p>To refund</p>
                    <p>7</p>
                </div>
            </div>
        </div>

        <!-- Recent activities -->
        <div class="w-2/5 p-5 bg-white rounded-md drop-shadow-lg">
            <!-- Recently added books -->
            <div>

            </div>

            <!-- Recent activities -->
            <div class="recent-activity">
                <h1>Recent Activities</h1>
                <table>
                    <tr>
                        <td>32 min</td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16" style="color: green;">
                                <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </td>
                        <td>You added a new book with isbn 9786765452536</td>

                    </tr>
                    <tr>
                        <td>32 min</td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16" style="color: red;">
                                <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </td>
                        <td>You deleted the book with isbn 9786765452536</td>
                    </tr>
                    <tr>
                        <td>32 min</td>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16" style="color: orange;">
                                <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </td>
                        <td>You updated the book with isbn 9786765452536</td>
                    </tr>
                </table>

            </div>
    
        </div>

    </section>

    <!-- Footer -->
    <footer class="px-5 h-32 bg-gray-900 text-yellow-600 text-center bottom-0 flex flex-col justify-center">
        <div class="text-xl">
            <p>Copyright © <span id="date">2023</span> CI-UCBC. All Rights Reserved.</p>

        </div>
    </footer>
    <!-- End Footer -->


    <script type="text/javascript" th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/vendor/select2/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>   
</body>
</html>